.position-relative {
    position: relative;
}

.alert {
    position: absolute;
    top: 100%;
    left: 0;
    font-family: sans-serif;
    width: max-content;
}

.registration-field-valid-fail {
    background-color: #af7575;
}

.login-error-message {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

.from-multiple-code {
    position: relative;
}
.from-multiple-code img {
    bottom: 0;
    left: 0;
    position: absolute;
 }