.position-relative {
    position: relative;
}

.alert {
    font-family: sans-serif;
    text-align: center;
}

.registration-field-valid-fail {
    background-color: #af7575;
}

.login-error-message {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

.from-multiple-code {
    position: relative;
}

.from-multiple-code img {
    bottom: 0;
    left: 0;
    position: absolute;
}

.alert.alert-danger {
    margin-top: 5px;
}

.header-black {
    background-color: black;
}

.select-items .not-allowed {
    cursor: not-allowed;
    color: black!important;
}

.search-results.empty {
    text-align: center;
}

.ezv-container {
    max-width: none;
}

.reset-search {
    z-index: 2;
    position: absolute;
    top: 8px;
    right: 10px;
    width: 22px;
    height: 22px;
    text-indent: -9999px;
    background: transparent url('../../img/cancel.svg')no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    overflow: hidden;
    cursor: pointer;
}

input.reset::-webkit-search-decoration,
input.reset::-webkit-search-cancel-button,
input.reset::-webkit-search-results-button,
input.reset::-webkit-search-results-decoration {
    display: none;
}

input[type="submit"].loading{
    font-size:0;
    width:30px;
    height:30px;
    margin-top:5px;
    border-radius:15px;
    padding:0;
    border:3px solid #f6e346;
    border-bottom:3px solid rgba(255,255,255,0.0);
    border-left:3px solid rgba(255,255,255,0.0);
    background-color:transparent !important;
    animation-name: rotateAnimation;
    -webkit-animation-name: wk-rotateAnimation;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    cursor: default;
    margin-right: 73px;
}

.order.product_link {
    text-decoration: none;
    color: #1d1d1d;
}

@keyframes rotateAnimation {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes wk-rotateAnimation {
    0%   {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}