input[type="submit"].loading,
button.loading {
    font-size: 0;
    border-radius: 50%;
    padding: 0;
    border: 3px solid #f6e346;
    border-bottom: 3px solid rgba(255, 255, 255, 0.0);
    border-left: 3px solid rgba(255, 255, 255, 0.0);
    background-color: transparent !important;
    animation-name: rotateAnimation;
    -webkit-animation-name: wk-rotateAnimation;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    cursor: default;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes wk-rotateAnimation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}