#wrapper table.dataTable thead .sorting:after {
    content: '';
}

#wrapper table.dataTable thead .sorting_desc:after {
    content: '';
}

#wrapper table.dataTable thead .sorting_asc:after {
    content: '';
}

.show-user p {
    display: block;
    margin: 7px 0;
    width: 100%;
}

.show-user p span {
    font-weight: 700;
}

.show-user p.last {
    margin: 7px 0 20px;
}

.show-user img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 40px auto;
}

#wrapper .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
#wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.active {
    border: 1px solid #d2d2d2;
    background: #4bc08f !important;
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button a {
    color: #4bc08f;
}

#wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.active a,
#wrapper .dataTables_wrapper .dataTables_paginate .paginate_button:hover a {
    color: #fff !important;
}

.block-user.btn.btn-danger {
    display: block;
    width: 90%;
    margin: 15px auto;
    cursor: pointer;
}

.show-user form {
    width: calc(100% - 20px);
}

.container {
    height: 82%;
    overflow-y: scroll;
}

.row {
    width: 80%;
}

.block {
    padding: 20px;
}

.row.building-info,
.row.document-info {
    width: 100%;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}

.add-new,
.building,
.document {
    background: #f0f1f4;
    width: 100%;
    height: auto;
}

.add-new {
    height: 100%;
}

.add-new-title {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress .progress-bar {
    width: 1%;
}

.progress .progress-bar-50 {
    width: 50%;
}

.right-info {
    text-align: right;
}

.document img,
.building img {
    width: 100%;
}

.box-body {
    position: relative;
}

.btn.create-user {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
}